@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    margin-left: -80px
  }
  to {
    margin-left: 0%
  }
}

@keyframes slide-down {
  from {
    margin-top: -80px
  }
  to {
    margin-top: -50px;
  }
}

@keyframes change-bg {
  0% {
    background: #ee6055;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #aaf683;
  }
  75% {
    background: #ffd97d;
  }
  100% {
    background: #ff9b85;
  }
}


/* Body */
body {
  background: rgb(32, 35, 48);
}

/* Navbar */
.david {
  font-size: 17px;
  background: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  color: black;
  animation: fade-in 3s ease, slide-right 3s ease;
}

button.david {
  /* margin-left: 43%;
  margin-top: 30px;
  font-size: 50px; */
  display: flex;
  justify-content: center;
}

.links {
float: right;
margin-top: -50px;
animation: fade-in 3s ease, slide-down 3s ease;
font-family: "Raleway", sans-serif;
justify-content: space-between;
}

a::before {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white; 
}


#portfolio {
  font-size: 180%;
  margin-right: 50px;
  text-decoration: none;
}

#resume {
  font-size: 180%;
  margin-right: 50px;
}

#contact {
  font-size: 180%;
  margin-right: 60px;
}

/* About */
#info {
  margin-left: 50px;
}

#hello {
  position: absolute; 
  left: 7%;
  top: 25%;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-size: 50px;
  line-height: 97px;
  animation: slide-right 2s ease, fade-in ease 3s;
}

#intro {
  position: absolute;
  width: 45%;
  left: 4%;
  top: 40%;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 48px;
  animation: slide-right 2s ease, fade-in ease 3s;
}

@media screen and (max-width: 1370px) {
  #intro {
    width: 60%
  }
}

#skills {
  margin-top: -200px;
  margin-left: 1050px;
}

#figma {
  height: 230px;
  width: 300px;
  position: absolute;
  margin-left: 380px;
  margin-top: 1100px;
  transform: rotate(20deg);
}

#figma:hover {
  transform: rotate(-20deg);
  transition: .3s;
}


#css {
  position: absolute;
  height: 320px;
  width: 300px;
  margin-left: 20px;
  margin-top: 750px;
  transform: rotate(20deg);
}

#css:hover {
  transform: rotate(-20deg);
  transition: .3s;
}

#js {
  position: absolute;
  width: 400px;
  height: 230px;
  margin-left: -30px;
  margin-top: 1100px;
  transform: rotate(-20deg);
}

#js:hover {
  transform: rotate(20deg);
  transition: .3s;
}

#react {
  position: absolute;
  width: 280px;
  height: 230px;
  margin-left: 400px;
  margin-top:810px;
  transform: rotate(20deg);
}

#react:hover {
  transform: rotate(-20deg);
  transition: .3s;
}

#html {
  position: absolute;
  margin-top: 470px;
  width: 450px;
  height: 280px;
  margin-left: -65px;
  transform: rotate(-20deg);
}

#html:hover {
  transform: rotate(20deg);
  transition: .3s;
}

#github {
  position: absolute;
  margin-left: 440px;
  margin-top: 480px;
  height: 250px;
  width: 220px;
  transform: rotate(20deg);
}

#github:hover {
  transform: rotate(-20deg);
  transition: .3s;
}


#triangle {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 40%;
  animation: change-bg 5s infinite alternate linear, fade-in 3s ease;
  border-top-left-radius: 100%;
}

#certificate {
  position: relative;
  width: 650px;
  margin-left: 55%;
  margin-top: 10%;
  animation: fade-in 3s ease;
}

@media screen and (max-width: 1600px) {
  #certificate {
    margin-left: 10px;
    margin-top: 1000px;
  }
}

/* Portfolio */

#portfolio-container {
  margin-left: 5%;
}

/* .card {
  position: relative;
  border: 5px solid white;
  background-color: white;
  margin-top: 10%;
  margin-left:10%;
  max-width: 400px;
  height: 350px;
  box-shadow: 0 6px 10px white;
  border-radius: 10px;
  overflow: hidden;
} */

#pwGen-text {
  position: absolute;
}

#pwGen {
  width: 30%;
  height: 30vh;
  border-radius: 20px;
  position: absolute;
  margin-top: 15%;
  cursor: pointer;
  animation: fade-in 3s ease;
}

/* .card2 {
  position: relative;
  border: 5px solid white;
  background-color: rgb(255, 255, 255);
  margin-top: 10%;
  margin-left:10%;
  max-width: 400px;
  height: 350px;
  box-shadow: 0 6px 10px white;
  border-radius: 10px;
  overflow: hidden;
} */

#notes {
  width: 30%;
  height: 30vh;
  border-radius: 20px;
  position: absolute;
  margin-top: 40%;
  cursor: pointer;
  animation: fade-in ease 3s
}

/* .card3 {
  position: relative;
  border: 5px solid white;
  background-color: white;
  margin-top: 10%;
  margin-left:10%;
  max-width: 400px;
  height: 350px;
  box-shadow: 0 6px 10px white;
  border-radius: 10px;
  overflow: hidden;
} */


#quiz {
  position: absolute;
  width: 30%;
  height: 30vh;
  border-radius: 20px;
  margin-top: 65%;
  cursor: pointer;
  animation: fade-in ease 3s;
}

#weather {
  position: absolute;
  width: 30%;
  height: 30vh;
  border-radius: 20px;
  margin-top: 90%;
  cursor: pointer;
  animation: fade-in ease 3s;
}


/* Resume */
#container {
  margin-top: 100px;
  color: white;
  font-size: 22px;
  animation: fade-in ease 2s;
}

#header {
  display: flex;
  justify-content: center;
}

#resume-name {
  margin-left: 35%;
}

#education {
  margin-left: 10%;
}

#boulder-date {
  float: right;
  margin-right: 10%;
}

#rutgers-date {
  float: right;
  margin-right: 10%;
}

.skills {
  margin-left: 10%;
}

.experience {
  margin-left: 10%;
}

#lg-town {
  float: right;
  margin-right: 10%;
}

#lg-date {
  float: right;
  margin-right: 10%;
}

#cleaners-town {
  float: right;
  margin-right: 10%;
}

#cleaners-date {
  float: right;
  margin-right: 10%;
}

.certificates {
  margin-left: 10%;
}

#bootcamp-date {
  float: right;
  margin-right: 10%;
}

#frcc-date {
  float: right;
  margin-right: 10%;
}

@media screen and (max-width: 1770px) {
  #profile {
    margin-top: 120px;
  }

  #skills {
    margin-left: 30px;
    position: absolute;
    margin-top: 650px;
  }
}

@media screen and (max-width: 1500px) {
  #resume {
    float: left;
    margin-left: -2px;
    margin-right: 20px;
  }

  #contact {
    float: left;
  }

  #portfolio {
    float: left;
    margin-left: 50px;
  }
}

/* Contact section */

.contact-me {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px 20%;
  animation: fade-in ease 3s;
  color: white;
  margin-top: 5%;
  font-size: 180%;
  margin-right: 60px;
}
.contact-me h2 {
  font-size: 35px;
  text-align: center;
  padding-bottom: 35px;
}
.contact-content {
  border: 3px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 40vh;
}
.contact-content h3 {
  text-align: center;
  padding: 10px;
}

.btn-container {
  margin-right: 30%;
  color: black;
}

.email-btn {
  border: 3px solid white;
  background: rgb(32, 35, 48);
  color: black;
  width: 200%;
  height: 200%;
  border-radius: 15%;
  font-size: large;
  cursor: pointer;
  padding: 25%;
  animation: change-bg 5s infinite;
}






